<p id="notice"><%= notice %></p>

<p>
  <strong>Secretcode:</strong>
  <%= @secretcode.SecretCode %>
</p>

<%= link_to 'Edit', edit_secretcode_path(@secretcode) %> |
<%= link_to 'Back', secretcodes_path %>
